{% extends "layout.html" %}
{% block body %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#jobs-list" data-toggle="tab">List</a></li>
  <li><a href="#jobs-submit" data-toggle="tab">Submit</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="jobs-list">

<script type="text/javascript"/>
function checkAll () {
    $(":checkbox.job_checkbox").attr('checked', 'checked');
};

function unCheckAll () {
    $(":checkbox.job_checkbox").removeAttr('checked');
};

function checkInverse() {
    var checked = $(":checkbox.job_checkbox:checked");
    var unchecked = $(":checkbox.job_checkbox:not(:checked)");
    unchecked.attr('checked', 'checked');
    checked.removeAttr('checked');
};
</script>
<div class="btn-toolbar">
<div class="btn-group">
<div class="btn" onclick="checkAll()">All</div>
<div class="btn" onclick="unCheckAll()">None</div>
<div class="btn" onclick="checkInverse()">Inverse</div>
</div>
</div>

  <table class="table table-striped">
  <thead>
  <tr><th>Select</th><th>id</th><th>Name</th></tr>
  </thead>
  <tbody>
  {% for job in jobs %}
  <tr>
  <td><input type="checkbox" class="job_checkbox" id="chk_job_{{ job.id }}" name="chk_job_{{ job.id }}"></td>
  <td>{{ job.id }}</td>
  <td>{{ job.name }}</td>
  </tr>
  {% else %}
    <em> No entries here so far</em>
  {% endfor %}
  </tbody>
  </table>
</div>

<div class="tab-pane" id="jobs-submit">
<form action="{{ url_for('create_job') }}" method="post">
    <dl>
    <dt>Name:
    <dd><input type="text" size="30" name="name">
    <dt>Script:
    <dd><textarea name="script" rows="5" cols="40"></textarea>
    <dd><input type="submit" value="Submit">
    </dl>
</form>
</div>
</div>
{% endblock %}
