{% extends "layout.html" %}
{% block body %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#jobs-list" data-toggle="tab">List</a></li>
  <li><a href="#jobs-submit" data-toggle="tab">Submit</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="jobs-list">
  <table class="table table-striped">
  <thead>
  <tr><th>Select</th><th>id</th><th>Name</th></tr>
  </thead>
  <tbody>
  {% for job in jobs %}
  <tr>
  <td><a href="#" class="delete-job"><i class="icon-trash"></i></a></td>
  <td>{{ job.id }}</td>
  <td>{{ job.name }}</td>
  </tr>
  {% else %}
    <em> No entries here so far</em>
  {% endfor %}
  </tbody>
  </table>
</div>

<div class="tab-pane" id="jobs-submit">
<form action="{{ url_for('create_job') }}" method="post">
    <dl>
    <dt>Name:
    <dd><input type="text" size="30" name="name">
    <dt>Script:
    <dd><textarea name="script" rows="5" cols="40"></textarea>
    <dd><input type="submit" value="Submit">
    </dl>
</form>
</div>
</div>
{% endblock %}
